<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<form id="formSignUp" th:action="@{/signup}" method="post">
    <input type="text" name="userId" placeholder="user id 입력">
    <input type="text" name="userName" placeholder="user name 입력">
    <input type="password" name="password" placeholder="password 입력">
    <button id="buttonSignUp" onclick="submitSignUp()" type="button">가입하기</button>
</form>

<script type="text/javascript">
    function submitSignUp() {
        alert("?")
        $("#formSignUp").submit();
    }

</script>
</body>
</html>